html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #DDD;
  font-family: Helvetica, sans-serif;
}

#header {
  padding: 1em;
}

#input-area {
  padding-left: 1em;
  padding-right: 1em;
}

label[for=user-input] {
  display: block;
}

#user-input {
  font-size: 300%;
  width: 100%;
  padding: 0 0.2em 0 0.2em;
}

#result-area {
  margin-top: 1em;
  margin-left: 1em;
}

.result {
  width: 15em;
  height: 15em;
  padding: 0.5em;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.result p:first-child {
  margin-top: 0;
  font-size: 120%;
}

.result .animatedEllipsis {
  font-weight: bold;
}

.result .name {
  font-weight: bold;
  word-wrap: break-word;
}

.pending {
  background-color: white;
}

.error {
  background-color: yellow;
}

.available {
  background-color : green;
}

.taken {
  background-color: red;
}

.animatedEllipsis span {
  -webkit-animation: dot 1.3s infinite;
}
.animatedEllipsis :nth-child(1) { -webkit-animation-delay: 1.0s; }
.animatedEllipsis :nth-child(2) { -webkit-animation-delay: 1.2s; }
.animatedEllipsis :nth-child(3) { -webkit-animation-delay: 1.4s; }

@-webkit-keyframes dot {
    0% { opacity: 0; }
   50% { opacity: 0; }
  100% { opacity: 1; }
}