html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #DDD;
  font-family: Helvetica, sans-serif;
}

#header {
  padding: 1em;
}

#input-area {
  padding-left: 1em;
  padding-right: 1em;
}

label[for=userinput] {
  display: block;
}

#userinput {
  font-size: 300%;
  width: 100%;
  padding: 0 0.2em 0 0.2em;
}